# Build outputs
build/

# STM32CubeIDE / VSCode extension
.settings/

# Clangd cache
.cache/

# Compiled objects
*.o
*.obj
*.elf
*.bin
*.hex
*.map

# Debug files
*.dSYM/

# Reference manuals (large binary files)
stm32f411re_ref_manual/
